---
import {languages} from '../../i18n';
import {getLangFromUrl, useTranslations, switchLang} from "../../i18n/utils";
const currentLang = getLangFromUrl(Astro.url);

const t = useTranslations(currentLang);
---
<form class="inline-block">
    <label for="language-selector">
        <span class="hidden">{t('layout.language-selector')}</span>
        <select id="language-selector" class="p-2 rounded border-2 border-gray-500/25 bg-white">
            {Object.entries(languages).map(([lang, entry]) => (
                    <option value={lang} selected={lang === currentLang}>{entry.label}</option>
            ))}
        </select>
    </label>
</form>
<script src="./LanguagePickerRuntime.ts"/>
