---
import { languages } from '../../i18n'
import { useTranslations, validateLang } from '../../i18n/utils'
const { lang: currentLang } = Astro.params
validateLang(currentLang)
const t = useTranslations(currentLang)
---
<form x-data="languageSelector" class="inline-block" x-id="['language-selector']">
    <label :for="$id('language-selector')">
        <span class="hidden">{t('layout.language-selector')}</span>
        <select @change="change($event)" :id="$id('language-selector')" class="p-2 bg-white">
            {Object.entries(languages).map(([lang, entry]) => (
                    <option value={lang} selected={lang === currentLang}>{entry.label}</option>
            ))}
        </select>
    </label>
</form>
