---
import { defaultLang } from '~/i18n'
import MetaOGImage from '~/components/MetaOGImage.astro'
import portrait from '~/resources/portrait-blog.png?arraybuffer'
---
<!doctype html>
<html lang={defaultLang}>
<head>
    <meta charset="UTF-8"/>
    <meta name="google-site-verification" content="UiqMaJhYDWgjczHPVW5lDDdX6S2b4cnOgsl2gw3ms_4" />
    <meta name="description" content="Timothée Rebours's website"/>
    <MetaOGImage title="Timothée Rebours" description="Timothée Rebours's website" image={portrait}/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <meta name="generator" content={Astro.generator}/>
    <meta http-equiv="refresh" content={`0;url=/${defaultLang}/`}/>
    <title>Timothée Rebours</title>
</head>
<body>
</body>
</html>
