---
import BaseLayout from './BaseLayout.astro'
import LanguagePicker from '../components/i18n/LanguagePicker.astro'
import { useTranslatedPath, useTranslations, validateLang } from '../i18n/utils'
import Trans from '../components/i18n/Trans.astro'
import { Icon } from 'astro-icon/components'

interface Props {
  title?: string
  description?: string
}

const { title, description } = Astro.props
const { lang } = Astro.params
validateLang(lang)
const localizePath = useTranslatedPath(lang)
const t = useTranslations(lang)

---
<BaseLayout title={title} description={description}>
    <slot name="head" slot="head"/>

    <div class="w-screen min-h-screen">
        <div class="
    sticky h-20 -top-4 w-full z-20
    before:sticky
    before:block
    before:h-4
    before:content-['']
    before:top-12
    before:shadow-md
    after:sticky
    after:block
    after:h-4
    after:content-['']
    after:top-0
    after:bg-gradient-to-b
    after:from-white
    after:via-white
    after:z-30
">
            <div x-data="{ open: false }" class="w-full h-16 flex items-center -mt-4 sticky top-0 px-3 md:px-12 z-50 bg-white select-none">
                <a href={localizePath('/')}>
                    <div class="flex flex-row h-full items-center">
                        <span class="bg-gray-900 w-10 h-10 text-2xl text-white flex justify-center items-center rounded-md flex-shrink-0">TR</span>
                        <span class="text-gray-900 ml-6 text-xl font-bold">Timothée Rebours</span>
                    </div>
                </a>
                <div class="flex-grow"></div>
                <div class="hidden md:block md:md:text-xl md:space-x-6 md:flex-shrink-0">
                    <LanguagePicker class="p-2 rounded border-2 border-gray-500/25 bg-white"/>
                    <span><a href={localizePath('/about-me')}>{t('layout.about-me')}</a></span>
                    <span><a href={localizePath('/blog')}>{t('layout.blog')}</a></span>
                </div>
                <Icon @click.prevent.throttle="open = !open" name="carbon:menu" class="z-20 inline h-6 w-6 cursor-pointer md:hidden"/>
                <div class="z-10 fixed top-0 left-0 right-0 h-full bg-white md:hidden flex justify-center flex-col items-center space-y-10 capitalize text-4xl font-semibold" x-show="open">
                    <LanguagePicker class="p-2 rounded border-2 border-gray-500/25 bg-white"/>
                    <span><a href={localizePath('/about-me')}>{t('layout.about-me')}</a></span>
                    <span><a href={localizePath('/blog')}>{t('layout.blog')}</a></span>
                </div>
            </div>
        </div>
        <div class="container sm:px-16 md:px-20 lg:px-32 m-auto min-h-[calc(100vh-5rem)] space-y-4 mb-4">
            <div>
                <slot/>
            </div>
            <div class="text-center w-full text-xs">
                <Trans keyPath="layout.hosted-at">
                    <a href="https://github.com/tex0l/tex0l.github.io" rel="noopener" class="underline cursor-pointer">{t('layout.available-here')}</a>
                </Trans>
            </div>
            <!--<div class="text-center w-full text-xs">All rights reserved, Timothée Rebours 2022- -->
            <!--    <ClientOnly :fallback="(new Date()).getFullYear()">{{(new Date()).getFullYear()}}.</ClientOnly>-->
            <!--</div>-->
        </div>
    </div>
</BaseLayout>
